@import "colors/active.css";

* {
  border: none;
  border-radius: 0px;

  font-family: "JetBrainsMono Nerd Font Propo", sans-serif;
  font-size: 16px;
  font-weight: bold;

  min-height: 0;
  padding: 0;
  margin: 0;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: alpha(@bg0, 0.85);
  border: 1px solid alpha(@bg3, 0.15);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

tooltip label {
  color: @fg;
  padding: 6px;
}

#workspaces {
  background-color: alpha(@bg0, 0.4);
  padding: 6px 8px;
  margin: 0 0 0 12px;
  border-radius: 40px;
  border: 1px solid alpha(@bg1, 0.5);
  color: @fg;
}

#workspaces button {
  padding: 0px 8px;
  margin: 0px 4px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.08);
  color: transparent;
  min-width: 14px;
  transition: all 0.3s cubic-bezier(0.2, 0.9, 0.4, 1.1);
}

#workspaces button.active {
  background: linear-gradient(135deg, @blue, @purple);
  color: @bg0;
  min-width: 55px;
  font-weight: bold;
  font-size: 13px;
  box-shadow:
    0 0 8px @blue,
    inset 0 1px 0 rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
}

#workspaces button:hover {
  background-color: @purple;
  color: @bg0;
  border-radius: 16px;
  min-width: 50px;
  background-size: 400% 400%;
}

#workspaces button.urgent {
  background: @red;
  color: @bg0;
  min-width: 50px;
  background-size: 400% 400%;
  box-shadow: 0 0 8px @red;
}

#battery,
#pulseaudio,
#tray,
#clock,
#custom-notification,
#custom-arch,
#custom-window_upper {
  background: alpha(@bg0, 0.45);
  padding: 0 16px;
  margin: 0 0 0 10px;
  border-radius: 32px;
  border: 1px solid alpha(@bg1, 0.3);
  transition: all 0.2s;
}

#battery:hover,
#pulseaudio:hover,
#tray:hover,
#clock:hover,
#custom-notification:hover,
#custom-arch:hover {
  background: rgba(0, 0, 0, 0.65);
  border-color: rgba(255, 255, 255, 0.25);
}

#custom-arch {
  color: @aqua;
  text-shadow: 0 0 3px @aqua;
}

#clock {
  color: @blue;
  font-weight: bold;
  letter-spacing: 1px;
  min-width: 60px;
}

#custom-window_upper {
  font-weight: bold;
  color: @orange;
}

#custom-notification {
  color: @fg;
  margin: 0 12px 0 12px;
}

#pulseaudio {
  color: @yellow;
}

#tray {
  color: @purple;
}

#battery {
  color: @green;
  margin-right: 16px;
}
