/**
 * Catppuccin Lavender (Mocha)
 **/

* {
    background:     #1e1e2eff;
    background-alt: #313244ff;
    foreground:     #cdd6f4ff;
    selected:       #b4befecc;
    active:         #a6e3a1ff;
    urgent:         #f38ba8ff;
}